<!doctype html>
<html ng-app="myApp">
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
		<script src="madlibcontrol.js"></script>
		<link rel="stylesheet" type="text/css" href="madlib.css">
	</head>
	<body ng-controller="Mycontrol">
		<span class="img1" ng-show="happy">
			<img src="mad-lib-happy-face.png" class="image1"/>
		</span>
		<span class="img2">
			<img src="ng-mad-libs-logo.png" />
			<h1>Automate This!</h1>
		</span>
		<p>
	   <hr class="line1">
         <h2>Provide the following words:</h2>
   <div class="column1">
	<select ng-model="gender" ng-change="changeItem(gender)">
		<option></option>
		<option>Male</option>
		<option>Female</option>
	</select>
	 </div>
	<div class="column1">
	<input type="text" placeholder="Male/Female name" ng-model="name">
	<input type="text" placeholder="Dirty task" ng-model="dirtytask">
	<input type="text" placeholder="Obnoxious celebrity" ng-model="obnoxiouscelebrity">
	</div>
	<br>
	<div class="column1">
	<input type="text" placeholder="Job title" ng-model="jobtitle">
	<input type="text" placeholder="Celebrity" ng-model="celebrity">
	<input type="text" placeholder="Huge number" ng-model="hugenumber">
	</div>
	<br>
	<div class="column1">
	<input type="text" placeholder="Tedious task" ng-model="tedioustask">
	<input type="text" placeholder="Useless skill" ng-model="uselessskill">
	<input type="text" placeholder="Adjective" ng-model="Adjective">
	</div>
	<hr>
	</p>
	<p class="paragraph">{{name}} was a {{jobtitle}} who loved technology. Although {{genderapprop1}} loved parts of {{genderapprop3}} job, {{genderapprop1}} absolutely hated  {{tedioustask}} and {{dirtytask}}. So, {{femalename}} met with {{genderapprop3}} life mentor {{celebrity}} who told {{genderapprop2}} to learn how to {{uselessskill}} with Thinkful. Thinkful didn't offer a course on {{uselessskill}} so she studied programming instead. 
	</p>
	<p class="paragraph">
	What a great decision! With {{genderapprop3}} new skills, {{name}} built a(n) {{adjective}} robot named {{obnoxiuouscelbertity}} that not only loved {{dirtytask}} but did it {{hugenumber}} faster. 
	</p>
	</body>
	</html>