<!doctype html>
<html ng-app="myApp">
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.3.0-beta.10/angular-messages.min.js"></script>
        <script src="madlibcontroller.js"></script>
        <script type="text/ng-template" id="error-messages">

            <span ng-model="errorMessageOne" class="error" ng-message="required">You did not enter a value for the previous field</span>
            <span ng-model="errorMessageTwo" class="error" ng-message="minlength">The value entered is too short for the previous field
            </span>
        </script>
        <script type="text/ng-template" id="error-messages-number">

            <span ng-model="errorMessageThree" class="error" ng-message="required">You did not enter a value for the previous field</span>
            <span ng-model="errorMessagefour" class="error" ng-message="number">You did not enter a number
            </span>
        </script>
      <link rel="stylesheet" type="text/css" href="madlibcontroller.css">
    </head>
    <body ng-controller="myControl">
        <div ng-show="words">
            <span class="img1">
                <img src="mad-lib-happy-face.png" class="image1"/>
            </span>
            <span class="img2">
                <img src="ng-mad-libs-logo.png" />
                <h1>Automate This!</h1>
            </span>
            <p>
                <hr class="line1">
                <h2>Provide the following words:</h2>
                <form name="madlibForm" ng-submit="validateInputs(madlibForm.$valid)" novalidate>
                    <div class="column1">
                        <div class="inputGroupOne">
                            <select name="genders"  ng-model="gender" ng-change="changeItem(gender, madlibForm.$submitted, madlibForm.$error)" required>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <span ng-messages="madlibForm.genders.$error" ng-if="madlibForm.$submitted && madlibForm.genders.$error"  ng-messages-include="error-messages" ng-messages-multiple>
                            </span>
                        </div>
                    </div>
                    <div class="column1">
                        <div class="inputGroupOne">
                            <input type="text" 
                            name="theName" placeholder="Male/Female name" minlength="2" ng-model="name" required  />
                            
                            <span ng-messages="madlibForm.theName.$error" ng-if="madlibForm.$submitted && madlibForm.theName.$error" 
                            ng-messages-include="error-messages" ng-messages-multiple>
                            </span>
                        </div>
                        <div class="inputGroupTwo">
                            <input type="text" name="dirtyTask" placeholder="Dirty task" required ng-minlength="2" ng-model="dirtyTask" />
                             
                            <span ng-messages="madlibForm.dirtyTask.$error" ng-if="madlibForm.$submitted && 
                                madlibForm.dirtyTask.$error" ng-messages-include="error-messages" ng-messages-multiple>
                            </span>
                        </div>
                        <div class="inputGroupThree">
                            <input type="text" name="obnoxiousCelebrity" placeholder="Obnoxious celebrity" required ng-minlength="2" ng-model="obnoxiousCelebrity" />
                            
                            <span ng-messages="madlibForm.obnoxiousCelebrity.$error" ng-if="madlibForm.$submitted && 
                                madlibForm.obnoxiousCelebrity.$error" ng-messages-include="error-messages" ng-messages-multiple>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="column1">
                        <div class="inputGroupOne">
                            <input type="text" name="jobTitle" placeholder="Job title" required ng-minlength="2" ng-model="jobTitle">
                            <span ng-messages="madlibForm.jobTitle.$error" ng-if="madlibForm.$submitted && madlibForm.jobTitle.$error" 
                            ng-messages-include="error-messages" ng-messages-multiple>
                            </span>
                        </div>
                        <div class="inputGroupTwo">
                            <input type="text" name="celebrity" placeholder="Celebrity" required ng-minlength="2" ng-model="celebrity">
                            <span ng-messages="madlibForm.celebrity.$error" ng-if="madlibForm.$submitted && madlibForm.celebrity.$error" 
                            ng-messages-include="error-messages" ng-messages-multiple>
                            </span>
                        </div>
                        <div class="inputGroupThree">
                            <input type="number" name="hugeNumber" placeholder="Huge number" required ng-model="hugeNumber">
                            <span ng-messages="madlibForm.hugeNumber.$error" ng-if="madlibForm.$submitted && madlibForm.hugeNumber.$error" 
                            ng-messages-include="error-messages-number" ng-messages-multiple>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="column1">
                        <div class="inputGroupOne">
                            <input type="text" name="tediousTask" placeholder="Tedious task" required ng-minlength="2" ng-model="tediousTask">
                            <span ng-messages="madlibForm.tediousTask.$error" ng-if="madlibForm.$submitted && madlibForm.tediousTask.$error" 
                            ng-messages-include="error-messages" ng-messages-multiple>
                            </span>
                        </div>
                        <div class="inputGroupTwo">
                            <input type="text" name="uselessSkill" placeholder="Useless skill" required ng-minlength="2" ng-model="uselessSkill">
                            <span ng-messages="madlibForm.uselessSkill.$error" ng-if="madlibForm.$submitted && madlibForm.uselessSkill.$error" 
                                    ng-messages-include="error-messages" ng-messages-multiple>
                            </span>
                        </div>
                        <div class="inputGroupThree">
                            <input type="text" name="adjective" placeholder="Adjective" required ng-minlength="2" ng-model="adjective">
                             <span ng-messages="madlibForm.adjective.$error" ng-if="madlibForm.$submitted && madlibForm.adjective.$error" 
                                    ng-messages-include="error-messages" ng-messages-multiple>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <input type="submit" name="submitted" value="Generate My Mad Lab" ng-model="submitted" ng-click="test(madlibForm.theName.$error,madlibForm.submitted)">
                </form>
            </p>
        </div>
        <div class="theContent" ng-show="showContent">
            <p class="paragraph">
                {{name}} was a {{jobTitle}} who loved technology. Although {{genderApprop1}} loved parts of         {{genderApprop3}} job, {{genderApprop1}} absolutely hated  {{tediousTask}} and {{dirtytask}}. So, {{femaleName}} met with {{genderApprop3}} life mentor {{celebrity}} who told {{genderApprop2}} to learn how to {{uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{uselessSkill}} so she studied programming instead. 
            </p>
            <p class="paragraph">
                What a great decision! With {{genderApprop3}} new skills, {{name}} built a(n) {{adjective}} robot named {{obnoxiuousCelbertity}} that not only loved {{dirtyTask}} but did it {{hugeNumber}} faster. 
                <hr>
                <input type="submit" value="Start Over" ng-click="changeBack(madlibForm.submitted)"/>
            </p>
        </div>
    </body>
</html>